.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.quote {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(44, 44, 44, 0.1);
}

.quote p {
  margin-bottom: 10px;
}

.btnContainer {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #88c0fc;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #054283;
}